<center>
    <a href='/students'>Back</a><br /><br>
    <form action="/students/addstudent" method="POST">
        <input type="text" name="studentname" placeholder="Enter first name of the Student" />
        <input type="submit" value="submit" />
    </form>


</center>