<html>

<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <center>
        <h1>Welcome to the list creation app</h1>
        Add the new Student : <a href='students/addstudent'>AddStudent</a>
        <br />
        <br />
        view Student : <a href="students/viewstudent">View Students</a>



    </center>

</body>

</html>